<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Clang_Clang::menu" title="CanopyDeploy" sortOrder="10" >
                    <resource id="Clang_Clang::top" title="Integration" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
