<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after_data_object">
        <observer name="customer_update" instance="Clang\Clang\Observer\CustomerUpdate" shared="false" />
    </event>
    <event name="customer_address_save_after">
        <observer name="customer_update" instance="Clang\Clang\Observer\CustomerUpdate" shared="false" />
    </event>
    <event name="controller_action_postdispatch">
        <observer name="postdispatch" instance="Clang\Clang\Observer\PostDispatch" shared="false" />
    </event>
</config>
